.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

@media screen and (max-width: 650px) {
  .profile {
    flex-direction: column;
  }   
}

@media screen and (max-width: 515px) {
  .profile {
    padding-top: 44px;
  }   
}