.page__container {
  max-width: 882px;
  margin: 0 auto;
}

@media screen and (max-width: 990px) {
  .page__container {
    max-width: 90%;
  }   
}

@media screen and (max-width: 650px) {
  .page__container {
    max-width: 70%;
  }   
}

@media screen and (max-width: 515px) {
  .page__container {
    max-width: 282px;
  }   
}