.button_action_like {
  width: 22px;
  height: 18px;
  background-image: url(../../../images/icon-heart.svg);
  background-position: top;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}