.popup__container_with-form {
    width: 430px;
    padding: 34px 36px 36px 36px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
}
  
@media screen and (max-width: 600px) {
  .popup__container_with-form {
    width: 330px;
  }   
}
  
@media screen and (max-width: 450px) {
  .popup__container_with-form {
    width: 230px;
    padding: 24px 26px 26px 26px;
  }   
}